<div class="container">
  <div class="if" *ngIf="run_time < 10">
    <div class="chat-group">
      <div class="chat-box">
        <div class="time" style="margin-left: 40%">16 เม.ย. 23:53</div>
        <div class="left">
          <c-avatar
            class="avtar"
            style="margin-right: 20px"
            src="../../../../assets/chats/Screenshot 2025-02-04 180910.png"
          />
          <div class="chat">
            <h2>ฝันดีนะครับ☺️👋</h2>
          </div>
        </div>

        <div *ngIf="run_time >= 1" class="right">
          <div class="chat">
            <h2>ตายตาหลับแน่เลยค้าบ 🥺</h2>
          </div>
          <c-avatar
            class="avtar"
            style="margin-left: 20px"
            src="../../../../assets/chats/sam.png"
          />
        </div>

        <div class="left" *ngIf="run_time >= 2">
          <c-avatar
            class="avtar"
            style="margin-right: 20px"
            src="../../../../assets/chats/Screenshot 2025-02-04 180910.png"
          />
          <div class="chat">
            <h2>อย่าเพิ่งตายครับยังไม่ได้ลองคุยกันเลย</h2>
          </div>
        </div>
        <div class="left" *ngIf="run_time >= 3">
          <c-avatar
            class="avtar"
            style="margin-right: 20px"
            src="../../../../assets/chats/Screenshot 2025-02-04 180910.png"
          />
          <div class="chat">
            <h2>☺️</h2>
          </div>
        </div>
      </div>

      <div class="form" *ngIf="show_model == true">
        <input
          class="inp-text"
          placeholder="ตายตาหลับแน่เลยค้าบ 🥺"
          readOnly
          type="text"
        />

        <h2 (click)="sendMsg()" class="msg-icon">💬</h2>
        <h4 style="margin-left: 30px">⬅ กดส่งเยยที่รัก</h4>
      </div>

      <div class="texts" *ngIf="run_time >= 4">
        <h4>
          จำได้มั้ย ความรู้สึกดีๆ ที่พี่มีให้หนูยังคงเหมือน
          เเละมากขึ้นทุกๆวันนะครับ
        </h4>
      </div>
      <div class="texts" *ngIf="run_time >= 5">
        <h4>ที่ผ่านมาๆ ไม่ว่าจะเรื่องไหน</h4>
        <h4>พี่ขอโทษหนูในทุกๆเรื่องนะครับ</h4>
      </div>
      <div class="texts" *ngIf="run_time >= 6">
        <h4>ขอโทษที่ทำให้หนูไม่สบายใจ</h4>
        <h4>ขอโทษที่ทำให้หนูหนักใจ</h4>
        <h4>ขอโทษที่งอแงใส่ในวันที่หนูต้องการคนที่เข้าใจมากๆ</h4>
      </div>
    </div>
  </div>

  <div class="if" *ngIf="run_time >= 10 && run_time < 17">
    <div class="chat-group">
      <div class="texts" *ngIf="run_time >= 10 && run_time < 17">
        <h4>พี่รักหนูมากๆนะครับ รักมากยิ่งขึ้นทุกวันเลย</h4>
      </div>
      <div class="texts" *ngIf="run_time >= 11 && run_time < 17">
        <h4>
          ครั้งแรกที่พี่เจอหนู รู้จักหนู
          พี่ชอบหนูมากขนาดไหน พี่ก็ยังคงรู้สึกแบบนั้นเสมอ
        </h4>
      </div>
      <div class="texts" *ngIf="run_time >= 12 && run_time < 17">
        <h4>พี่จะคอยเป็นกำลังใจให้หนูเสมอนะครับ ไม่ว่าจะเรื่องไหน</h4>
      </div>
      <div class="texts" *ngIf="run_time >= 13 && run_time < 17">
        <h4>
          เหมือนที่หนูคอยให้กำลังใจพี่ คอยแนะนำดูแลพี่มาตลอด<br />
          ขอบคุณหนูมากๆ นะครับ
        </h4>
      </div>
    </div>
  </div>

  <div class="if" *ngIf="run_time >= 17">
    <div class="chat-group">
      <div class="texts" *ngIf="run_time >= 18">
        <h4>ขออวยพรให้ทุกๆวันของหนูมีเเต่เรื่องดีๆนะงับ</h4>
      </div>
      <div class="texts" *ngIf="run_time >= 19">
        <h4>ผู้คนรอบตัวใจดีและน่ารักกับหนู</h4>
      </div>
      <div class="texts" *ngIf="run_time >= 20">
        <h4>สุขภาพร่างกาย แข็งเเรงขึ้นน ฮึ้บบ หายไวๆนะครับที่รัก </h4>
      </div>
      <div class="texts" *ngIf="run_time >= 21">
        <h4>
          เป็นคนที่มีความสุขมากๆ นะครับ
        </h4>
      </div>
      <div class="texts" *ngIf="run_time >= 22">
        <h4>พี่คิดถึงหนูมากๆเลย อยากกอดให้กำลังใจทุกวัน ทำอะไรอร่อยๆให้กิน ส่งกอดอุ่นๆ แล้วก็จุ๊บๆ มาให้นะครับ</h4>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 20px;" class="spinner" *ngIf="spinner == true">
  <c-spinner />
</div>
<div style="margin-top: 20px;" class="btns" *ngIf="show_btn_next == true">
  <h1 (click)="nav_to()" class="arrows">➡</h1>
</div>

