<div class="container">
  <div class="header">
    ทุกโมเม้นจริงๆ นะ
  </div>
  <h4 class="arrows" (click)="nav_to()">➡</h4>
  <div class="grid">
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (1).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (2).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (3).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (4).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (5).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (6).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (7).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (8).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (9).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (10).mp4" type="video/mp4" />
    </video>
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (11).mp4" type="video/mp4" />
    </video>
    <!-- <video controls autoplay muted loop playsinline width="300" class="vid">
            <source src="assets/vid/vid (12).mp4" type="video/mp4">
        </video> -->
    <video controls autoplay muted loop playsinline width="300" class="vid">
      <source src="assets/vid/vid (13).mp4" type="video/mp4" />
    </video>
  </div>
</div>
